<!DOCTYPE html>
<html>
<head>
  <title>A NEW MMO</title>
  <script src="/socket.io/socket.io.js"></script>
  <script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
  <script type='text/javascript' src="javascripts/post.js"></script>
  <script>
    var socket = io.connect('/');

    socket.on('disconnect', function() {
      // destroy monster
      // alert("The battle ended because you disconnected.");
    });
    monster = {name: ""};
    
    socket.on('getbattlers', function(data) {
      character = data.character;
      monster = data.monster;
      character.current_monster_health = monster.health_points;
    });

    socket.emit('getbattlers', {});
  </script>
</head>

<body>
<center>
  <div id="battle" style="width:500px;padding:5px 5px 5px 5px;margin:5px 5px 5px 5px;border:5px solid black;background-color:gray;" class="box">
    <center>
    <!-- Battle timer information -->
    <div id="timer" style="width:75px;margin:5px 5px 5px 5px;padding:5px 5px 5px 5px;border:5px solid black;background-color:tan;" class="box">
      Turn 0
    </div>
    <!-- Enemy information -->
    <div id="enemybox" style="min-height:150px;margin:5px 5px 5px 5px;padding:5px 5px 5px 5px;border:5px solid black;background-color:gold;" class="box">
      <div id="enemy" style="width:33%;float:center">
        <p>
          <div id="enemyname"></div><br />
          <div id="enemyhp"></div>
        </p>
      </div>
    </div>
    <!-- Ally information -->
    <div id="allybox" style="min-height:150px;margin:5px 5px 5px 5px;padding:5px 5px 5px 5px;border:5px solid black;background-color:gold;" class="box">
      <div id="ally" style="width:33%;float:center;">
        <p>
          <div id="allyname"></div><br />
          <div id="allyhp"></div>
          <div id="allymp"></div>
        </p>
      </div>
    </div>
    <!-- Textbox displaying messages -->
    <div id="textbox" style="margin:5px 5px 5px 5px;padding:5px 5px 5px 5px;border:5px solid black;background-color:tan;" class="box">...</div>
    <!-- Battle command menu -->
    <div id="actions" style="margin:5px 5px 5px 5px;padding:5px 5px 5px 5px;border:5px solid black;background-color:tan;" class="box">
      <input id="button-next-continue" type="button" value="Next" onclick="next('continue');">
      <input id="button-next-end" type="button" value="Next" onclick="next('end');">
      <input id="button-attack" type="button" value="Attack" onclick="attack(character, monster);">
      <input id="button-defend" type="button" value="Defend" onclick="defend(character);">
      <input id="button-flee" type="button" value="Flee">
      <input id="button-overworld" type="button" value="Return to Overworld" onclick="switchToOverworld();">
      <input id="button-logout" type="button" value="Logout" onclick="window.location.href ='/logout';">
    </div>
    </center>
  </div>
</center>

<script>
  /* Initially hide all buttons. */
  $('#button-next-continue').hide();
  $('#button-next-end').hide();
  $('#button-attack').hide();
  $('#button-defend').hide();
  $('#button-flee').hide();
  $('#button-overworld').hide();

  /* Upon page load. */
  $(document).ready(function() {
    beginBattle();
  });

  /* Variables */
  var turn = 0; // The current turn number.
  var ALLY_TURN = 0; // Ally's turn.
  var ENEMY_TURN = 1; // Enemy's turn.
  var actor = ALLY_TURN; // The entity making the next move.
  var totalEXPGained = 0; // The total EXP gained so far this battle.

  var ally = <%= character.id %>;
  var enemy = <%= monster.id %>;

  function showNextMenu(type) {
    $('#button-attack').hide();
    $('#button-defend').hide();
    $('#button-flee').hide();
    $('#button-overworld').hide();
    if (type == 'continue') {
      $('#button-next-end').hide();
      $('#button-next-continue').show();
    } else if (type == 'end') {
      $('#button-next-continue').hide();
      $('#button-next-end').show();
    } else {
      $('#button-next-continue').hide();
      $('#button-next-end').hide();
    }
  }

  function showCommandMenu() {
    $('#button-next-continue').hide();
    $('#button-next-end').hide();
    $('#button-overworld').hide();
    $('#button-attack').show();
    $('#button-defend').show();
    $('#button-flee').show();
  }

  function showEndMenu() {
    $('#button-next-continue').hide();
    $('#button-next-end').hide();
    $('#button-attack').hide();
    $('#button-defend').hide();
    $('#button-flee').hide();
    $('#button-overworld').show();
  }
  
  /* Enter battle. */
  function beginBattle() {
    renderBattleInfo();
    display("Battle has begun!");
  }
  
  /* Update battle info. */
  function renderBattleInfo() {
    incrementTurn();
    updateBattleInfo();
    showCommandMenu();
  }

  function save() {
    socket.emit('save', {c: character});
  }

  /* Update player/monster info. */
  function updateBattleInfo() {
    $('#allyname').html("<b><%= character.name %></b>");
    $('#allyhp').html("HP: <%= character.current_health_points %> / <%= character.health_points %>");
    $('#allymp').html("MP: <%= character.current_magic_points %> / <%= character.magic_points %>");
    $('#enemyname').html("<b><%= monster.name %></b>");
    $('#enemyhp').html("Dodge Rate: 50%");
  }
  
  /* Increment the turn counter by numTurns. */
  function incrementTurn() {
    turn += 1;
    $('#timer').html("Turn " + turn);
  }

  /* Next entity gets to make a move. */
  function nextActor() {
    if (actor == ALLY_TURN) {
      actor = ENEMY_TURN;
      if (defending) {
        display("The enemy attacks... but you were defending so it doesn't do any damage.");
      } else {
        display("It's now the enemy's turn. The enemy attacks you...");
        character.current_health_points = character.current_health_points + character.physical_defense - monster.physical_attack;
        var h = character.current_health_points;
        var s = h.toString();
        $('#allyhp').html(s.concat("/ <%= character.health_points %> HP"));
      }
      showNextMenu('continue');
    } else if (actor == ENEMY_TURN) {
      incrementTurn();
      actor = ALLY_TURN;
      display("It is your turn. Choose a battle command.");
      showCommandMenu();
    }
  }

  /* Use the ATTACK battle command.
   * The attacker and attackee must be characters or enemies. */
  function attack(attacker, attackee) {
    defending = false;
    var battleDice = Math.floor((Math.random() * 15) + 1);
    if (battleDice > 5) {
      character.current_monster_health = character.current_monster_health + monster.physical_defense - character.physical_attack;
      if (character.current_monster_health > 0) {
        var h = character.current_monster_health;
        var s = h.toString();
        $('#enemyhp').html(s.concat("/ 50 HP")); 
        showNextMenu('continue');
      } else {
        kill();
      }
    } else if (battleDice == 5) {
      display("You barely miss your attack!");
      showNextMenu('continue');
    } else if (battleDice == 4) {
      display("You attempt to strike, but the enemy dodges!");
      showNextMenu('continue');
    } else if (battleDice == 3) {
      display("The enemy swiftly evades your move!");
      showNextMenu('continue');
    } else {
      display("You missed...");
      showNextMenu('continue');
    }
  }

  /* Use the DEFEND battle command.
   * The defender must be a character or enemy. */
  function defend(defender) {
    display("You go into defensive stance!");
    defending = true;
    showNextMenu('continue');
  }

  /* Use the FLEE battle command.
   * The fleer must be a character or enemy. */
  function flee(fleer) {
    defending = false;
    var battleDice = Math.floor((Math.random() * 15) + 1);
    if (battleDice > 10) {
      display("You've fled the battle!");
      showNextMenu('end');
    } else {
      display("You've failed to flee.");
      showNextMenu('continue');
    }
  }

  function kill(killer, killee) {
    totalEXPGained += 0;
    $('#enemyhp').html("HP: 0 / 50");
    display("You've slain the enemy!");
    showNextMenu('end');
  }

  /* End the battle. */
  function finishBattle() {
    save();
    display("The battle has ended! You've earned a total of "
	    + totalEXPGained + " EXP this battle.");
    showEndMenu();
  }

  /* Enter and display the game overworld. */
  function switchToOverworld() {
    window.location.href = '/play';
  }

  /* Display text in the text box. */
  function display(text) {
    $('#textbox').html(text);
  }

  $('#button-next-continue').click(function() {
    nextActor();
    return false;
  });

  $('#button-next-end').click(function() {
    finishBattle();
    return false;
  });

  $('#button-attack').click(function() {
    attack();
    return false;
  });

  $('#button-defend').click(function() {
    defend();
    return false;
  });

  $('#button-flee').click(function() {
    flee();
    return false;
  });

  $('#button-overworld').click(function() {
    switchToOverworld();
    return false;
  });
</script>

</body>
</html>

